@using AmeWeb.Model
@model AmeCommon.Tasks.BackgroundTask

<div id="main-task">
    <h3>@Model.Name</h3>
    <table class="table table-bordered table-condensed">
        <tr>
            <th>Stan</th>
            <td id="main-task-state">
                @AmeHelper.TaskStateImage(Model.State)
            </td>
        </tr>
        <tr>
            <th>Czasy</th>
            <td id="main-task-times">@Model.StarTime - @Model.EndTime</td>
        </tr>
        <tr id="maint-task-error" style="display: none">
            <th>Bład</th>
            <td id="maint-task-error-text">@Model.Error</td>
        </tr>
        <tr>
            <th colspan="2">Logs:</th>
        </tr>
        <tr>
            <td id="maint-task-log-text" colspan="2"></td>
        </tr>
    </table>
    
    @if (Model.ChildTasks.Any())
    {
        <table class="table table-bordered table-condensed">
            <tr>
                <th colspan="2">Zadania składowe</th>
            </tr>
            <tr>
                <th>Nazwa</th>
                <th>Stan</th>
            </tr>

            @foreach (var task in Model.ChildTasks)
            {
                <tr>
                    <td>@task.Name</td>
                    <td id="child-task-@task.Id">@AmeHelper.TaskStateImage(task.State)</td>
                </tr>
            }
        </table>
    }
</div>
@section scripts{
    <script type="text/javascript">
        function refreshTaskState(state) {
            $('#main-task-state').html("<img height='20' src = '/images/task-state/" + state.state + ".gif' />");
            $('#main-task-times').html(state.times);
            for (var i = 0; i < state.childTasks.length; i++) {
                var ct = state.childTasks[i];
                $('#child-task-' + ct.id).html("<img height='20' src = '/images/task-state/" + ct.state + ".gif' />");
            }
        }

        function refreshTaskStateTick() {
            $.getJSON('@Url.Action("GetAmeTaskState", "Home")', { id: '@Model.Id' }, refreshTaskState);
        }

        $(function() {
            setInterval(refreshTaskStateTick, 3000);
        });
    </script>
}