@using System.Threading.Tasks
@using AmeWeb.Model
@model CaptureCardsViewModel
@{
    ViewData["Title"] = "AME Home Page";
}

<div class="row">
    <h2>Projekt: @Model.Project.UniqueName</h2>
    <h4>@Model.Project.LocalPathRoot</h4>
    @if (Model.AvailableFreeDiskSpace <= Model.RequiredDiskSpace)
    {
        var avaliable = Model.AvailableFreeDiskSpace.DisplayFileSize();
        var required = Model.RequiredDiskSpace.DisplayFileSize();
        <h4 class="bg-danger">Uwaga niewystarczająca ilość wolnego miejsca! Wolne miejsce: @avaliable Wymagane: @required</h4>
    }

    <form asp-action="StartCapture">
        @Html.Hidden("projectPath", Model.Project.LocalPathRoot)
        <table class="table table-condensed table-bordered">
            <tr>
                <th></th>
                <th></th>
                <th>Urządzenie</th>
                <th>Dysk</th>
                <th>Info</th>
                <th>Stan</th>
            </tr>
            @for (var i = 0; i < Model.AvaliableCommands.Count; i++)
            {
                var device = Model.AvaliableCommands[i];
                var trClass = device.HasWarning ? "bg-danger" : "";
                <tr class="@trClass">
                    <td>
                        @Html.CheckBox($"devices[{i}].Selected", device.Selected)
                        @Html.Hidden($"devices[{i}].Drive", device.SourceDrive)
                        @Html.Hidden($"devices[{i}].Task", device.Label)
                    </td>
                    <td><img src="@device.CommandImagePath" style="height: 75px"/></td>
                    <td>@device.Label</td>
                    <td>@device.SourceDrive</td>
                    <td class="DeviceInfo" style="white-space: pre">@device.Description
                        @if (device.HasWarning)
                        {
                            @Html.ActionLink("Uwaga! Wykryto potencjalne problemy.", "ShowConflicts", new {projectPath = Model.Project.LocalPathRoot, device.SourceDrive}, new {style = "font-weight: bold"})
                        }
                    </td>
                    <td class="DeviceState">
                        <img src="@device.StateImagePath" style="height: 75px" />

                        @if (!string.IsNullOrEmpty(device.ExecuteActionLink))
                        {
                            <a href="@device.ExecuteActionLink">Start</a>
                        }
                    </td>
                </tr>
            }
            <tr>
                <td colspan="6"><input type="submit" value="Wykonaj wybrane"/></td>
            </tr>
        </table>
    </form>
</div>
