@using System.Threading.Tasks
@using AmeWeb.Model
@model CaptureCardsViewModel
@{
    ViewData["Title"] = "AME Home Page";
}

<div class="row">
    <h2>Projekt: @Model.Project.UniqueName</h2>
    <h4>@Model.Project.LocalPathRoot</h4>
    @if (Model.AvailableFreeDiskSpace <= Model.RequiredDiskSpace)
    {
        var avaliable = Model.AvailableFreeDiskSpace.DisplayFileSize();
        var required = Model.RequiredDiskSpace.DisplayFileSize();
        <h4 class="bg-danger">Uwaga niewystarczająca ilość wolnego miejsca! Wolne miejsce: @avaliable Wymagane: @required</h4>
    }

    <form asp-action="StartCapture">
        @Html.Hidden("projectPath", Model.Project.LocalPathRoot)
        <table class="table table-condensed table-bordered">
            <tr>
                <th></th>
                <th>Urządzenie</th>
                <th>Dysk</th>
                <th>Info</th>
            </tr>
            @for (var i = 0; i < Model.AvaliableCommands.Count; i++)
            {
                var device = Model.AvaliableCommands[i];
                var hasWarning = device.GetAllConflictWithStoredFiles().Any();
                var trClass = hasWarning ? "bg-danger" : "";
                var deviceImagePath = $"images/{device.Label}.jpg";
                <tr class="@trClass">
                    <td>
                        @Html.CheckBox($"devices[{i}].Selected", device.FilesCount > 0)
                        @Html.Hidden($"devices[{i}].Drive", device.SourceDrive)
                    </td>
                    <td><img src="@deviceImagePath" style="height: 75px"/>@device.Label</td>
                    <td>@device.SourceDrive</td>
                    <td class="DeviceInfo">
                        <div>Pliki: @device.FilesCount Rozmiar: @device.FilesSize.DisplayFileSize()</div>
                        <div>
                            @if (hasWarning)
                            {
                                @Html.ActionLink("Uwaga! Wykryto konflikt z istniejącymi plikami.", "ShowConflicts", new { projectPath = Model.Project.LocalPathRoot, device.SourceDrive }, new { style = "font-weight: bold" })
                            }
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    <div>
                        <img src="images/resources.jpg" style="height: 20px" />
                        <label for="template">Szablon: </label>
                        <select id="template" name="template">
                            <option value="Wesele" selected>Wesele</option>
                            <option value="Przedszkole">Przedszkole</option>
                            <option value="">Inne</option>
                        </select>
                    </div>
                    <div>
                        <img src="images/svn.jpg" style="height: 20px" />
                        <label for="svn">Utwórz repozytorium SVN</label>
                        @Html.CheckBox("svn", true)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4"><input type="submit" value="Rozpocznij kopiowanie"/></td>
            </tr>
        </table>
    </form>
</div>
