@model AmeCommon.CardsCapture.DeviceMoveFileCommands
@{
    ViewData["Title"] = "AME Project";
}

@{ var imagePath = $"/images/{Model.Device.UniqueName}.jpg"; }
<img src="@imagePath" style="height: 75px" />
<table class="table table-condensed table-bordered">
    <tr>
        <th></th>
        <th>Nazwa</th>
        <th>plik źródłowy</th>
        <th>plik docelowy</th>
    </tr>
    @foreach (var cmd in Model.Commands)
    {
        var trClass = cmd.DestinationFile.Exists ? "bg-danger" : "bg-success";
        <tr class="@trClass">
            <td></td>
            <td>@cmd.File.RelativePath</td>
            <td>
                @if (cmd.SourceFile.Exists)
                {
                    @cmd.SourceFile.Length
                }
            </td>
            <td>@if (cmd.DestinationFile.Exists)
                {
                    @cmd.DestinationFile.Length
                }
            </td>
        </tr>
    }
</table>
